img.resize {
   width: 150px;
   height: auto;
}
h1 {
  background-color: rgba(255,255,255,0.9);
  font-size: 50px;
}
body {
   background-image: url("https://cdn.meme.am/instances/400x/57107681.jpg");
}